<template>
  <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <router-link class="nav-link" :to="{name: 'home'}">Home <span class="sr-only">(current)</span></router-link>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
              </li>
            </ul>
            <div class="dropdown open">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ cartItemCount }} Cart
              </button>
              <div @click="$event.stopPropagation()">
                <mini-cart />
              </div>
              
            </div>
          </div>
        </div>
      </nav>
  </div>
</template>

<script>

import { mapGetters } from "vuex";
import MiniCart from "./MiniCart";

export default {
  components:{
    MiniCart
  },

  computed: {
    ...mapGetters('cart',["cartItemCount"]),
  }
}
</script>

<style>

</style>