<template>
    <div class="dropdown-menu p-2"
    style="min-width: 320px; right: 0; left:auto" 
    aria-labelledby="dropdownMenuButton">
        <div v-for="(item, index) in cart" :key="index">
            <div class="px-2 d-flex justify-content-between">
                <div>
                    <strong>{{ item.product.title }}</strong>
                    <br>
                    {{ item.quantity }} x ${{ item.product.price }}
                </div>
                <div>
                    <button href="" class="badge badge-secondary" @click.prevent="removeProductFromCart(item.product)">remove</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="px-2 d-flex justify-content-between">
            <span>Total: ${{ cartTotalPrice }}</span>
            <button class="btn btn-danger btn-sm" @click.prevent="clearCartItems()">Clear cart</button>
        </div>
    </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";
export default {
    computed: {
        ...mapState({
            cart: state => state.cart.cart
        }),

        ...mapGetters({
            cartTotalPrice: 'cart/cartTotalPrice'
        })
    },

    mounted() {
        // hace referencia a ...mapActions
        this.getCartItems();
    },

    methods:{
        // ...mapActions({
        //     removeProductFromCart: "cart/removeProductFromCart",
        //     clearCartItems: "cart/clearCartItems",
        //     getCartItems: "cart/getCartItems"
        // })

        // OR
        ...mapActions('cart',[
            'removeProductFromCart', 
            'clearCartItems', 
            'getCartItems'])
        
    }
}
</script>

<style>

</style>